<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="test/bootstrap.php"
>
    <testsuites>
        <testsuite name="Scribe Symfony Library Test Suite">
            <directory>./test/Scribe/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>functional</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="phpunit.coverage.clover"/>
    </logging>
</phpunit>
