<div class="scr-form-submit-wrapper">
    <div class="btn-group">
        <input id="scr-blog-create-submit" type="submit" class="btn btn-success" value="{{ title }}"/>
        <a href="{{ cancel }}" class="btn btn-warning">Cancel</a>
    </div>
</div>