parameters:

    s.mantle.navigation.entity.class:                                   Scribe\MantleBundle\Doctrine\Entity\Navigation\Navigation
    s.mantle.navigation.repo.class:                                     Scribe\MantleBundle\Doctrine\EntityRepository\Navigation\NavigationRepository
    s.mantle.navigation_item.entity.class:                              Scribe\MantleBundle\Doctrine\Entity\Navigation\NavigationItem
    s.mantle.navigation_item.repo.class:                                Scribe\MantleBundle\Doctrine\EntityRepository\Navigation\NavigationItemRepository
    s.mantle.route.entity.class:                                        Scribe\MantleBundle\Doctrine\Entity\Route\Route
    s.mantle.route.repo.class:                                          Scribe\MantleBundle\Doctrine\EntityRepository\Route\RouteRepository
    s.mantle.route_redirect.entity.class:                               Scribe\MantleBundle\Doctrine\Entity\Route\RouteRedirect
    s.mantle.route_redirect.repo.class:                                 Scribe\MantleBundle\Doctrine\EntityRepository\Route\RouteRepository
    s.mantle.icon.entity.class:                                         Scribe\MantleBundle\Doctrine\Entity\Icon\Icon
    s.mantle.icon.repo.class:                                           Scribe\MantleBundle\Doctrine\EntityRepository\Icon\IconRepository
    s.mantle.icon_template.entity.class:                                Scribe\MantleBundle\Doctrine\Entity\Icon\IconTemplate
    s.mantle.icon_template.repo.class:                                  Scribe\MantleBundle\Doctrine\EntityRepository\Icon\IconTemplateRepository
    s.mantle.icon_family.entity.class:                                  Scribe\MantleBundle\Doctrine\Entity\Icon\IconFamily
    s.mantle.icon_family.repo.class:                                    Scribe\MantleBundle\Doctrine\EntityRepository\Icon\IconFamilyRepository
    s.mantle.node.entity.class:                                         Scribe\MantleBundle\Doctrine\Entity\Node\Node
    s.mantle.node.repo.class:                                           Scribe\MantleBundle\Doctrine\EntityRepository\Node\NodeRepository
    s.mantle.node_revision.entity.class:                                Scribe\MantleBundle\Doctrine\Entity\Node\NodeRevision
    s.mantle.node_revision.repo.class:                                  Scribe\MantleBundle\Doctrine\EntityRepository\Node\NodeRevisionRepository
    s.mantle.node_revision_diff.entity.class:                           Scribe\MantleBundle\Doctrine\Entity\Node\NodeRevisionDiff
    s.mantle.node_revision_diff.repo.class:                             Scribe\MantleBundle\Doctrine\EntityRepository\Node\NodeRevisionDiffRepository
    s.mantle.node_context_type.entity.class:                            Scribe\MantleBundle\Doctrine\Entity\Node\NodeContextType
    s.mantle.node_context_type.repo.class:                              Scribe\MantleBundle\Doctrine\EntityRepository\Node\NodeContextTypeRepository
    s.mantle.node_render_engine.entity.class:                           Scribe\MantleBundle\Doctrine\Entity\Node\NodeRenderEngine
    s.mantle.node_render_engine.repo.class:                             Scribe\MantleBundle\Doctrine\EntityRepository\Node\NodeRenderEngineRepository
    s.mantle.asset.entity.class:                                        Scribe\MantleBundle\Doctrine\Entity\Asset\Asset
    s.mantle.asset.repo.class:                                          Scribe\MantleBundle\Doctrine\EntityRepository\Asset\AssetRepository
    s.mantle.asset_descriptor.entity.class:                             Scribe\MantleBundle\Doctrine\Entity\Asset\AssetDescriptor
    s.mantle.asset_descriptor.repo.class:                               Scribe\MantleBundle\Doctrine\EntityRepository\Asset\AssetDescriptorRepository
    s.mantle.asset_type.entity.class:                                   Scribe\MantleBundle\Doctrine\Entity\Asset\AssetType
    s.mantle.asset_type.repo.class:                                     Scribe\MantleBundle\Doctrine\EntityRepository\Asset\AssetTypeRepository

    s.mantle.icon_creator.class:                                        Scribe\MantleBundle\Templating\Generator\Icon\IconCreator
    s.mantle.icon_creator_cached.class:                                 Scribe\MantleBundle\Templating\Generator\Icon\IconCreatorCached
    s.mantle.node.twig.render.class:                                    Scribe\MantleBundle\Templating\Generator\Node\Rendering\NodeTwigRender

    s.mantle.navigation_registrar.class:                                Scribe\MantleBundle\Templating\Generator\Navigation\Registrar\NavigationRegistrar
    s.mantle.navigation_member.content_nodes.class:                     Scribe\MantleBundle\ContentNodes\Navigation\ContentNodesNavigationMember;

    s.utils.controller.class:                                           Scribe\Component\Controller\ControllerUtils
    s.symfony.bundleinfo.class:                                         Scribe\Component\Bundle\BundleInformation

    s.config.yml.class:                                                 Scribe\Utility\Config\ConfigContainer

    s.loader.redirection.class:                                         Scribe\MantleBundle\Routing\RedirectionLoader

    s.listener.maintenance.class:                                       Scribe\MantleBundle\Listener\MaintenanceListener
    s.listener.newsletter.class:                                        Scribe\MantleBundle\Listener\NewsletterListener

    s.search.class:                                                     Scribe\MantleBundle\Templating\Helper\Search\Search

    s.twig.config.yml.class:                                            Scribe\MantleBundle\Templating\Extension\ConfigExtension
    s.twig.zoom.class:                                                  Scribe\MantleBundle\Templating\Extension\ZoomExtension
    s.twig.search.class:                                                Scribe\MantleBundle\Templating\Extension\SearchExtension
    s.twig.button.class:                                                Scribe\MantleBundle\Templating\Extension\BsButtonExtension
    s.twig.highchart.class:                                             Scribe\MantleBundle\Templating\Extension\HighchartExtension
    s.twig.jqtimeline.class:                                            Scribe\MantleBundle\Templating\Extension\JqtimelineExtension
    s.twig.chronoline.class:                                            Scribe\MantleBundle\Templating\Extension\ChronolineExtension
    s.twig.formscribeextras.class:                                      Scribe\MantleBundle\Templating\Extension\FormScribeExtrasExtension
    s.twig.node.class:                                                  Scribe\MantleBundle\Templating\Extension\NodeExtension
    s.twig.getlastusername.class:                                       Scribe\MantleBundle\Templating\Extension\GetLastUsernameExtension
    s.twig.bundleinformation.class:                                     Scribe\MantleBundle\Templating\Extension\BundleInformationExtension
    s.twig.icon_creator.class:                                          Scribe\MantleBundle\Templating\Extension\IconCreatorExtension

    s.mantle.utils.reflection_analyser.class:                           Scribe\Utility\Reflection\ClassReflectionAnalyser
    s.mantle.utils.logger_callable.class:                               Scribe\Utility\Logger\LoggerCallable

    s.mantle.doctrine.behaviors.timestampable.subscriber.class:         Scribe\Doctrine\Behavior\Subscriber\Timestampable\TimestampableSubscriber
    s.mantle.doctrine.behaviors.timestampable.subscriber.events:        [ 'Events::loadClassMetadata' ]
    s.mantle.doctrine.behaviors.timestampable.subscriber.triggers:      [ 'triggerUpdateTimestampEvent' ]
    s.mantle.doctrine.behaviors.timestampable.model.traits:             [ 'Scribe\Doctrine\Behavior\Model\Timestampable\TimestampableBehaviorTrait' ]
    s.mantle.doctrine.behaviors.timestampable.model.fields:             [ 'created_on', 'updated_on' ]

    s.mantle.doctrine.behaviors.sluggable.subscriber.class:             Scribe\Doctrine\Behavior\Subscriber\Sluggable\SluggableSubscriber
    s.mantle.doctrine.behaviors.sluggable.subscriber.events:            [ 'Events::loadClassMetadata' ]
    s.mantle.doctrine.behaviors.sluggable.subscriber.triggers:          [ 'triggerGenerateSlugEvent' ]
    s.mantle.doctrine.behaviors.sluggable.model.traits:                 [ 'Scribe\Doctrine\Behavior\Model\Sluggable\SluggableBehaviorTrait' ]
    s.mantle.doctrine.behaviors.sluggable.model.fields:                 [ 'slug' ]

    s.mantle.doctrine.behaviors.hierarchical_node.subscriber.class:     Scribe\Doctrine\Behavior\Subscriber\Hierarchical\HierarchicalNodeSubscriber
    s.mantle.doctrine.behaviors.hierarchical_node.subscriber.events:    [ 'Events::loadClassMetadata' ]
    s.mantle.doctrine.behaviors.hierarchical_node.subscriber.triggers:  [ ]
    s.mantle.doctrine.behaviors.hierarchical_node.model.traits:         [ 'Scribe\Doctrine\Behavior\Model\Hierarchical\HierarchicalNodeBehaviorTrait' ]
    s.mantle.doctrine.behaviors.hierarchical_node.model.fields:         [ 'materializedPath' ]

    s.mantle.doctrine.behaviors.loggable.subscriber.class:              Scribe\Doctrine\Behavior\Subscriber\Loggable\LoggableSubscriber
    s.mantle.doctrine.behaviors.loggable.subscriber.events:             [ 'Events::postPersist', 'Events::postUpdate', 'Events::preRemove' ]
    s.mantle.doctrine.behaviors.loggable.subscriber.triggers:           [ 'triggerPostPersistLoggableEvent', 'triggerPostUpdateLoggableEvent', 'triggerPreRemoveLoggableEvent' ]
    s.mantle.doctrine.behaviors.loggable.model.traits:                  [ 'Scribe\Doctrine\Behavior\Model\Loggable\LoggableBehaviorTrait' ]

services:

    s.mantle.utils.reflection_analyser:
        class:  %s.mantle.utils.reflection_analyser.class%
        calls:
            - [ unsetReflectionClass ]

    s.mantle.utils.logger_callable:
        class: %s.mantle.utils.logger_callable.class%
        arguments:
            - @logger

    s.mantle.doctrine.behaviors.timestampable.subscriber:
        class:  %s.mantle.doctrine.behaviors.timestampable.subscriber.class%
        public: false
        arguments:
            - @s.mantle.utils.reflection_analyser
            - %s.mantle.doctrine.behaviors.timestampable.subscriber.events%
            - %s.mantle.doctrine.behaviors.timestampable.subscriber.triggers%
            - %s.mantle.doctrine.behaviors.timestampable.model.traits%
            - %s.mantle.doctrine.behaviors.timestampable.model.fields%
        tags:
            - { name: doctrine.event_subscriber }
    s.mantle.doctrine.behaviors.loggable.subscriber:
        class:  %s.mantle.doctrine.behaviors.loggable.subscriber.class%
        public: false
        arguments:
            - @s.mantle.utils.reflection_analyser
            - %s.mantle.doctrine.behaviors.loggable.subscriber.events%
            - %s.mantle.doctrine.behaviors.loggable.subscriber.triggers%
            - %s.mantle.doctrine.behaviors.loggable.model.traits%
        calls:
            - [ setLoggerCallable, [ @s.mantle.utils.logger_callable ] ]
        tags:
            - { name: doctrine.event_subscriber }
    s.mantle.doctrine.behaviors.sluggable.subscriber:
        class:  %s.mantle.doctrine.behaviors.sluggable.subscriber.class%
        public: false
        arguments:
            - @s.mantle.utils.reflection_analyser
            - %s.mantle.doctrine.behaviors.sluggable.subscriber.events%
            - %s.mantle.doctrine.behaviors.sluggable.subscriber.triggers%
            - %s.mantle.doctrine.behaviors.sluggable.model.traits%
            - %s.mantle.doctrine.behaviors.sluggable.model.fields%
        tags:
            - { name: doctrine.event_subscriber }
    s.mantle.doctrine.behaviors.hierarchical_node.subscriber:
        class:  %s.mantle.doctrine.behaviors.hierarchical_node.subscriber.class%
        public: false
        arguments:
            - @s.mantle.utils.reflection_analyser
            - %s.mantle.doctrine.behaviors.hierarchical_node.subscriber.events%
            - %s.mantle.doctrine.behaviors.hierarchical_node.subscriber.triggers%
            - %s.mantle.doctrine.behaviors.hierarchical_node.model.traits%
            - %s.mantle.doctrine.behaviors.hierarchical_node.model.fields%
        tags:
            - { name: doctrine.event_subscriber }

    s.mantle.navigation_registrar:
        class: %s.mantle.navigation_registrar.class%
        arguments:
            - @s.symfony.bundleinfo

    s.mantle.redirect.repo:
        class:           %s.mantle.route_redirect.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.route_redirect.entity.class%

    s.mantle.navigation.repo:
        class:           %s.mantle.navigation.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.navigation.entity.class%

    s.mantle.navigation_item.repo:
        class:           %s.mantle.navigation_item.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.navigation_item.entity.class%

    s.mantle.icon.repo:
        class:           %s.mantle.icon.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.icon.entity.class%

    s.mantle.icon_template.repo:
        class:           %s.mantle.icon_template.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.icon_template.entity.class%

    s.mantle.icon_family.repo:
        class:           %s.mantle.icon_family.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.icon_family.entity.class%

    s.mantle.node.repo:
        class:           %s.mantle.node.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node.entity.class%

    s.mantle.node_revision.repo:
        class:           %s.mantle.node_revision.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_revision.entity.class%

    s.mantle.node_revision_diff.repo:
        class:           %s.mantle.node_revision_diff.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_revision_diff.entity.class%

    s.mantle.node_context_type.repo:
        class:           %s.mantle.node_context_type.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_context_type.entity.class%

    s.mantle.node_render_engine.repo:
        class:           %s.mantle.node_render_engine.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_render_engine.entity.class%

    s.mantle.asset.repo:
        class:           %s.mantle.asset.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset.entity.class%

    s.mantle.asset_descriptor.repo:
        class:           %s.mantle.asset_descriptor.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset_descriptor.entity.class%

    s.mantle.asset_type.repo:
        class:           %s.mantle.asset_type.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset_type.entity.class%

    s.mantle.icon_creator:
        class:           %s.mantle.icon_creator_cached.class%
        arguments:
            - @s.mantle.icon_family.repo
            - @twig
        calls:
            - [setCacheHandlerChain, [@s.cache.handler_chain]]

    s.mantle.node.twig.render:
        class:            %s.mantle.node.twig.render.class%
        arguments:
            - @twig

    s.mantle.icon_creator.notemplating:
        class:       %s.mantle.icon_creator_cached.class%
        arguments:
            - @s.mantle.icon_family.repo
        calls:
            - [setCacheHandlerChain, [@s.cache.handler_chain]]

    s.utils.controller:
        class: "%s.utils.controller.class%"
        arguments:
            - @service_container

    s.symfony.bundleinfo:
        class: "%s.symfony.bundleinfo.class%"
        arguments:
            - @request_stack

    s.config.yml:
        class: "%s.config.yml.class%"
        arguments: [ "@service_container" ]

    s.loader.redirection:
        class: "%s.loader.redirection.class%"
        arguments:
            - @service_container
        tags:
            - { name: routing.loader }

    s.listener.maintenance:
        class: "%s.listener.maintenance.class%"
        arguments:
            - @s.utils.controller
            - @s.symfony.bundleinfo
            - %scribe.maintenance.enabled%
            - %scribe.maintenance.bundles%
            - %scribe.maintenance.exempt%
            - %scribe.maintenance.override.request_argument%
            - %scribe.maintenance.override.request_value%
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    s.listener.newsletter:
        class: "%s.listener.newsletter.class%"
        arguments:
            - @service_container
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    s.twig.config:
        class: "%s.twig.config.yml.class%"
        arguments: [ "@s.config.yml" ]
        tags:
            - { name: twig.extension }

    s.search:
        class: "%s.search.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: search }

    s.twig.search:
        class: "%s.twig.search.class%"
        arguments: [ "@service_container", "@s.search" ]
        tags:
            - { name: twig.extension }

    s.twig.button:
        class: "%s.twig.button.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.highchart:
        class: "%s.twig.highchart.class%"
        tags:
            - { name: twig.extension }

    s.twig.jqtimeline:
        class: "%s.twig.jqtimeline.class%"
        tags:
            - { name: twig.extension }

    s.twig.chronoline:
        class: "%s.twig.chronoline.class%"
        tags:
            - { name: twig.extension }

    s.twig.formscribeextras:
        class: "%s.twig.formscribeextras.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.getlastusername:
        class: "%s.twig.getlastusername.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.zoom:
        class: "%s.twig.zoom.class%"
        tags:
            - { name: twig.extension }

    s.twig.bundleinformation:
        class: "%s.twig.bundleinformation.class%"
        arguments:
            - @s.symfony.bundleinfo
        tags:
            - { name: twig.extension }

    s.twig.icon_creator:
        class: "%s.twig.icon_creator.class%"
        arguments:
            - @s.mantle.icon_creator.notemplating
        tags:
            - { name: twig.extension }
