parameters:

    s.mantle.redirect.entity.class:                 Scribe\MantleBundle\Entity\Redirect
    s.mantle.redirect.repo.class:                   Scribe\MantleBundle\EntityRepository\RedirectRepository
    s.mantle.navmenuitem.entity.class:              Scribe\MantleBundle\Entity\NavMenuItem
    s.mantle.navmenuitem.repo.class:                Scribe\MantleBundle\EntityRepository\NavMenuItemRepository
    s.mantle.navmenusubitem.entity.class:           Scribe\MantleBundle\Entity\NavMenuSubItem
    s.mantle.navmenusubitem.repo.class:             Scribe\MantleBundle\EntityRepository\NavMenuSubItemRepository
    s.mantle.navmenusetting.repo.class:             Scribe\MantleBundle\EntityRepository\NavMenuSettingRepository
    s.mantle.icon.entity.class:                     Scribe\MantleBundle\Entity\Icon
    s.mantle.icon.repo.class:                       Scribe\MantleBundle\EntityRepository\IconRepository
    s.mantle.icontemplate.entity.class:             Scribe\MantleBundle\Entity\IconTemplate
    s.mantle.icontemplate.repo.class:               Scribe\MantleBundle\EntityRepository\IconTemplateRepository
    s.mantle.iconfamily.entity.class:               Scribe\MantleBundle\Entity\IconFamily
    s.mantle.iconfamily.repo.class:                 Scribe\MantleBundle\EntityRepository\IconFamilyRepository
    s.mantle.node.entity.class:                     Scribe\MantleBundle\Entity\Node
    s.mantle.node.repo.class:                       Scribe\MantleBundle\EntityRepository\NodeRepository
    s.mantle.node_revision.entity.class:            Scribe\MantleBundle\Entity\NodeRevision
    s.mantle.node_revision.repo.class:              Scribe\MantleBundle\EntityRepository\NodeRevisionRepository
    s.mantle.node_revision_diff.entity.class:       Scribe\MantleBundle\Entity\NodeRevisionDiff
    s.mantle.node_revision_diff.repo.class:         Scribe\MantleBundle\EntityRepository\NodeRevisionDiffRepository
    s.mantle.node_context_type.entity.class:        Scribe\MantleBundle\Entity\NodeContextType
    s.mantle.node_context_type.repo.class:          Scribe\MantleBundle\EntityRepository\NodeContextTypeRepository
    s.mantle.node_render_engine.entity.class:       Scribe\MantleBundle\Entity\NodeRenderEngine
    s.mantle.node_render_engine.repo.class:         Scribe\MantleBundle\EntityRepository\NodeRenderEngineRepository
    s.mantle.asset.entity.class:                    Scribe\MantleBundle\Entity\Asset
    s.mantle.asset.repo.class:                      Scribe\MantleBundle\EntityRepository\AssetRepository
    s.mantle.asset_descriptor.entity.class:         Scribe\MantleBundle\Entity\AssetDescriptor
    s.mantle.asset_descriptor.repo.class:           Scribe\MantleBundle\EntityRepository\AssetDescriptorRepository
    s.mantle.asset_type.entity.class:               Scribe\MantleBundle\Entity\AssetType
    s.mantle.asset_type.repo.class:                 Scribe\MantleBundle\EntityRepository\AssetTypeRepository
    s.mantle.cachedfilesystementrysize.repo.class:  Scribe\MantleBundle\EntityRepository\CachedFilesystemEntrySizeRepository
    s.mantle.icon_creator.class:                    Scribe\MantleBundle\Templating\Generator\Icon\IconCreator
    s.mantle.icon_creator_cached.class:             Scribe\MantleBundle\Templating\Generator\Icon\IconCreatorCached
    s.mantle.navigation_registrar.class:            Scribe\MantleBundle\Templating\Generator\Navigation\Registrar\NavigationRegistrar
    s.mantle.navigation_member.content_nodes.class: Scribe\MantleBundle\ContentNodes\Navigation\ContentNodesNavigationMember;
    s.mantle.node.twig.render.class:                Scribe\MantleBundle\Templating\Generator\Node\Rendering\NodeTwigRender
    s.utils.controller.class:                       Scribe\Component\Controller\ControllerUtils
    s.symfony.bundleinfo.class:                     Scribe\Component\Bundle\BundleInformation

    s.config.yml.class:                             Scribe\Utility\Config\ConfigContainer

    s.loader.redirection.class:                     Scribe\MantleBundle\Routing\RedirectionLoader

    s.listener.maintenance.class:                   Scribe\MantleBundle\Listener\MaintenanceListener
    s.listener.newsletter.class:                    Scribe\MantleBundle\Listener\NewsletterListener

    s.search.class:                                 Scribe\MantleBundle\Templating\Helper\Search\Search
    s.menu.main.class:                              Scribe\MantleBundle\Templating\Helper\Bootstrap\Menu\MenuMain
    s.menu.foot.class:                              Scribe\MantleBundle\Templating\Helper\Bootstrap\Menu\MenuFoot
    s.tpl.helper.menu.handler.class:                Scribe\MantleBundle\Templating\Helper\Menu\MenuHandler
    s.tpl.helper.menu.factory.class:                Scribe\MantleBundle\Templating\Helper\Menu\MenuFactory
    s.tpl.helper.menu.class:                        Scribe\MantleBundle\Templating\Helper\Menu\Menu

    s.twig.config.yml.class:                        Scribe\MantleBundle\Templating\Extension\ConfigExtension
    s.twig.zoom.class:                              Scribe\MantleBundle\Templating\Extension\ZoomExtension
    s.twig.menu.class:                              Scribe\MantleBundle\Templating\Extension\MenuExtension
    s.twig.search.class:                            Scribe\MantleBundle\Templating\Extension\SearchExtension
    s.twig.menu.main.class:                         Scribe\MantleBundle\Templating\Extension\MenuMainExtension
    s.twig.button.class:                            Scribe\MantleBundle\Templating\Extension\BsButtonExtension
    s.twig.highchart.class:                         Scribe\MantleBundle\Templating\Extension\HighchartExtension
    s.twig.jqtimeline.class:                        Scribe\MantleBundle\Templating\Extension\JqtimelineExtension
    s.twig.chronoline.class:                        Scribe\MantleBundle\Templating\Extension\ChronolineExtension
    s.twig.formscribeextras.class:                  Scribe\MantleBundle\Templating\Extension\FormScribeExtrasExtension
    s.twig.node.class:                              Scribe\MantleBundle\Templating\Extension\NodeExtension
    s.twig.getlastusername.class:                   Scribe\MantleBundle\Templating\Extension\GetLastUsernameExtension
    s.twig.bundleinformation.class:                 Scribe\MantleBundle\Templating\Extension\BundleInformationExtension
    s.twig.icon_creator.class:                      Scribe\MantleBundle\Templating\Extension\IconCreatorExtension

    s.mantle.utils.reflection_analyser.class:                       Scribe\Utility\Reflection\ClassReflectionAnalyser

    s.mantle.doctrine.behaviors.timestampable.model.trait:          Scribe\Doctrine\Behavior\Model\Timestampable\TimestampableBehaviorTrait
    s.mantle.doctrine.behaviors.timestampable.subscriber.class:     Scribe\Doctrine\Behavior\Subscriber\Timestampable\TimestampableSubscriber
    s.mantle.doctrine.behaviors.timestampable.subscriber.events:    [ 'Events::loadClassMetadata' ]
    s.mantle.doctrine.behaviors.timestampable.subscriber.triggers:  [ 'triggerUpdateTimestampEvent' ]
    s.mantle.doctrine.behaviors.timestampable.subscriber.fields:    [ 'created_on', 'updated_on' ]

services:

    s.mantle.utils.reflection_analyser:
        class:  %s.mantle.utils.reflection_analyser.class%
        calls:
            - [ unsetReflectionClass ]

    s.mantle.doctrine.behaviors.timestampable.subscriber:
        class:  %s.mantle.doctrine.behaviors.timestampable.subscriber.class%
        public: false
        arguments:
            - @s.mantle.utils.reflection_analyser
            - [ %s.mantle.doctrine.behaviors.timestampable.model.trait% ]
            - %s.mantle.doctrine.behaviors.timestampable.subscriber.events%
            - %s.mantle.doctrine.behaviors.timestampable.subscriber.triggers%
            - %s.mantle.doctrine.behaviors.timestampable.subscriber.fields%
        tags:
            - { name: doctrine.event_subscriber }

    s.mantle.navigation_registrar:
        class: %s.mantle.navigation_registrar.class%
        arguments:
            - @s.symfony.bundleinfo

    s.mantle.redirect.repo:
            class:           %s.mantle.redirect.repo.class%
            factory_service: doctrine
            factory_method:  getRepository
            arguments:
                - %s.mantle.redirect.entity.class%

    s.mantle.navmenuitem.repo:
        class:           %s.mantle.navmenuitem.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.navmenuitem.entity.class%

    s.mantle.navmenusubitem.repo:
        class:           %s.mantle.navmenusubitem.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.navmenusubitem.entity.class%

    s.mantle.navmenusetting.repo:
        class:           %s.mantle.navmenusetting.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\MantleBundle\Entity\NavMenuSetting

    s.mantle.icon.repo:
        class:           %s.mantle.icon.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.icon.entity.class%

    s.mantle.icontemplate.repo:
        class:           %s.mantle.icontemplate.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.icontemplate.entity.class%

    s.mantle.iconfamily.repo:
        class:           %s.mantle.iconfamily.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.iconfamily.entity.class%

    s.mantle.node.repo:
        class:           %s.mantle.node.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node.entity.class%

    s.mantle.node_revision.repo:
        class:           %s.mantle.node_revision.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_revision.entity.class%

    s.mantle.node_revision_diff.repo:
        class:           %s.mantle.node_revision_diff.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_revision_diff.entity.class%

    s.mantle.node_context_type.repo:
        class:           %s.mantle.node_context_type.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_context_type.entity.class%

    s.mantle.node_render_engine.repo:
        class:           %s.mantle.node_render_engine.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.node_render_engine.entity.class%

    s.mantle.asset.repo:
        class:           %s.mantle.asset.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset.entity.class%

    s.mantle.asset_descriptor.repo:
        class:           %s.mantle.asset_descriptor.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset_descriptor.entity.class%

    s.mantle.asset_type.repo:
        class:           %s.mantle.asset_type.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - %s.mantle.asset_type.entity.class%

    s.mantle.cachedfilesystementrysize.repo:
        class:           %s.mantle.cachedfilesystementrysize.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\MantleBundle\Entity\CachedFilesystemEntrySize

    s.mantle.icon_creator:
        class:           %s.mantle.icon_creator_cached.class%
        arguments:
            - @s.mantle.iconfamily.repo
            - @twig
        calls:
            - [setCacheHandlerChain, [@scribe_cache.handler_chain]]

    s.mantle.node.twig.render:
        class:            %s.mantle.node.twig.render.class%
        arguments:
            - @twig

    s.mantle.icon_creator.notemplating:
        class:       %s.mantle.icon_creator_cached.class%
        arguments:
            - @s.mantle.iconfamily.repo
        calls:
            - [setCacheHandlerChain, [@scribe_cache.handler_chain]]

    s.utils.controller:
        class: "%s.utils.controller.class%"
        arguments:
            - @service_container

    s.symfony.bundleinfo:
        class: "%s.symfony.bundleinfo.class%"
        arguments:
            - @request_stack

    s.config.yml:
        class: "%s.config.yml.class%"
        arguments: [ "@service_container" ]

    s.loader.redirection:
        class: "%s.loader.redirection.class%"
        arguments:
            - @service_container
        tags:
            - { name: routing.loader }

    s.listener.maintenance:
        class: "%s.listener.maintenance.class%"
        arguments:
            - @s.utils.controller
            - @s.symfony.bundleinfo
            - %scribe.maintenance.enabled%
            - %scribe.maintenance.bundles%
            - %scribe.maintenance.exempt%
            - %scribe.maintenance.override.request_argument%
            - %scribe.maintenance.override.request_value%
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    s.listener.newsletter:
        class: "%s.listener.newsletter.class%"
        arguments:
            - @service_container
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    s.tpl.helper.menu.handler:
        class: "%s.tpl.helper.menu.handler.class%"
        arguments:
            - @service_container
            - @s.mantle.navmenuitem.repo
            - @s.mantle.navmenusetting.repo
            - @s.symfony.bundleinfo
            - @security.context

    s.tpl.helper.menu.factory:
        class: "%s.tpl.helper.menu.factory.class%"
        arguments:
            - @service_container

    s.tpl.helper.menu:
        class: "%s.tpl.helper.menu.class%"
        factory_service: s.tpl.helper.menu.factory
        factory_method: getMenu
        arguments:
            - @service_container

    s.twig.config:
        class: "%s.twig.config.yml.class%"
        arguments: [ "@s.config.yml" ]
        tags:
            - { name: twig.extension }

    s.menu.main:
        class: "%s.menu.main.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: menu.main }

    s.search:
        class: "%s.search.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: search }

    s.twig.search:
        class: "%s.twig.search.class%"
        arguments: [ "@service_container", "@s.search" ]
        tags:
            - { name: twig.extension }

    s.twig.menu:
        class: "%s.twig.menu.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.menu.main:
        class: "%s.twig.menu.main.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.button:
        class: "%s.twig.button.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.highchart:
        class: "%s.twig.highchart.class%"
        tags:
            - { name: twig.extension }

    s.twig.jqtimeline:
        class: "%s.twig.jqtimeline.class%"
        tags:
            - { name: twig.extension }

    s.twig.chronoline:
        class: "%s.twig.chronoline.class%"
        tags:
            - { name: twig.extension }

    s.twig.formscribeextras:
        class: "%s.twig.formscribeextras.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.getlastusername:
        class: "%s.twig.getlastusername.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.zoom:
        class: "%s.twig.zoom.class%"
        tags:
            - { name: twig.extension }

    s.twig.bundleinformation:
        class: "%s.twig.bundleinformation.class%"
        arguments:
            - @s.symfony.bundleinfo
        tags:
            - { name: twig.extension }

    s.twig.icon_creator:
        class: "%s.twig.icon_creator.class%"
        arguments:
            - @s.mantle.icon_creator.notemplating
        tags:
            - { name: twig.extension }
