<footer id="scr-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 scr-foot-articles">
                <h3>Newsletter</h3>
                <p><small class="text-muted">Subscribe to our newsletter and blog.</small></p>
                <form class="form-inline" role="form" method="post">
                    <div class="input-group">
                        <input type="email" name="_newsletter_signup_email" class="form-control input-sm" placeholder="E-mail address">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-danger btn-sm" value="Submit" />
                        </span>
                    </div>
                </form>
                <ul class="list-unstyled" style="margin-top:10px;">
                {% for e in entries %}
                    <li>
                        <small class="text-muted">{{ e.getPostedDateFormatted }}</small><br>
                        <a href="{{
                        path('scribe_blog_view', {
                            'subject': e.getKey,
                            'id': e.getId,
                            'year': e.getDateYear,
                            'month': e.getDateMonth,
                            'day': e.getDateDay
                        }) }}">{{ e.getSubject }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Information</h3>
                <ul class="scr-footer-info">
                    <li><a href="/about">About Scribe</a></li>
                    <li><a href="/about/employment">Employment Opportunities</a></li>
                    <li><a href="/wfdw">Well-Formed Document Workflow</a></li>
                    <li><a href="/wfdw/support">Get Support</a></li>
                </ul>
            </div>
            <div class="col-md-3 scr-foot-offices">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li>
                        <small class="text-muted">E-Mail Address</small>
                        <a href="mailto:contact@scribenet.com">
                            <address>contact@scribenet.com</address>
                        </a>
                    </li>
                    <li>
                        <small class="text-muted">Phone Number</small>
                        <a href="tel:12153365094">
                            <address>+1.215.336.5094</address>
                        </a>
                    </li>
                </ul>
                <p style="margin-bottom:4px;"><small class="text-muted">Social</small></p>
                <ul class="list-inline">
                    <li class="scr-foot-tooltip" title="Facebook">
                        <a class="fb" href="https://www.facebook.com/ScribeInc">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                             </span>
                        </a>
                    </li>
                    <li class="scr-foot-tooltip" title="Twitter">
                        <a class="twitter" href="https://twitter.com/ScribeInc">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                             </span>
                        </a>
                    </li>
                    <li class="scr-foot-tooltip" title="Google+">
                        <a class="google" href="https://plus.google.com/+Scribenet?rel=author">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                             </span>
                        </a>
                    </li>
                    <li class="scr-foot-tooltip" title="LinkedIn">
                        <a class="linkedin" href="http://www.linkedin.com/company/scribe-inc-">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                             </span>
                        </a>
                    </li>
                    <li class="scr-foot-tooltip" title="Github">
                        <a class="github" href="http://scribenet.github.io/">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                             </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 scr-foot-offices">
                <h3>Offices</h3>
                <ul class="list-unstyled">
                    <li>
                        <div itemscope itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="Scribe Inc.">
                        <meta itemprop="telephone" content="(215) 336-5094">
                        <meta itemprop="email" content="contact@scribenet.com">
                        <meta itemprop="url" content="http://scribenet.com/">
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <a href="https://www.google.com/maps/preview#!q=842+South+Second+Street%2C+Philadelphia+PA+19147">
                            <address>
                                <span itemprop="streetAddress">842 South Second Street</span><br />
                                <span itemprop="addressLocality">Philadelphia</span>, <span itemprop="addressRegion">PA</span>  <span itemprop="postalCode">19147</span>
                            </address>
                        </a>
                        </div>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <a style="display:block;margin-top:10px" href="https://www.google.com/maps/preview#!q=233%20North%20Federal%20Hwy,%20Suite%2061,%20Dania%20Beach,%20FL%2033004">
                            <address>
                                <span itemprop="streetAddress">233 North Federal Hwy</span><br />
                                Suite 61<br />
                                <span itemprop="addressLocality">Dania Beach</span>, <span itemprop="addressRegion">FL</span> <span itemprop="postalCode">33004</span>
                            </address>
                        </a>
                        </div>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <a style="display:block;margin-top:10px" href="https://www.google.com/maps/preview#!q=7540%20Windsor%20Drive,%20Suite%20200B,%20Allentown,%20PA%2018195">
                            <address>
                                <span itemprop="streetAddress">7540 Windsor Drive</span><br />
                                Suite 200B<br />
                                <span itemprop="addressLocality">Allentown</span>, <span itemprop="addressRegion">PA</span> <span itemprop="postalCode">18195</span>
                            </address>
                        </a>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scr-footer-copyright">
            <p><small>Copyright &copy; 2014 Scribe Inc. All rights reserved.</small></p>
        </div>
    </div>

</footer>