##
## PARAMETER DEFINITIONS
##
parameters:
    s.utils.controller.class:                       Scribe\Component\Controller\ControllerUtils
    s.symfony.bundleinfo.class:                     Scribe\Component\Bundle\BundleInformation
    s.loader.redirection.class:                     Scribe\SharedBundle\Routing\RedirectionLoader

    s.config.yml.class:                             Scribe\Utility\Config\ConfigContainer
    s.search.class:                                 Scribe\SharedBundle\Templating\Helper\Search\Search

    s.menu.main.class:                              Scribe\SharedBundle\Templating\Helper\Bootstrap\Menu\MenuMain
    s.menu.foot.class:                              Scribe\SharedBundle\Templating\Helper\Bootstrap\Menu\MenuFoot
    s.tpl.helper.menu.handler.class:                Scribe\SharedBundle\Templating\Helper\Menu\MenuHandler
    s.tpl.helper.menu.factory.class:                Scribe\SharedBundle\Templating\Helper\Menu\MenuFactory
    s.tpl.helper.menu.class:                        Scribe\SharedBundle\Templating\Helper\Menu\Menu
    s.shared.navmenuitem.repo.class:                Scribe\SharedBundle\Entity\NavMenuItemRepository
    s.shared.navmenusetting.repo.class:             Scribe\SharedBundle\Entity\NavMenuSettingRepository
    s.shared.icon.repo.class:                       Scribe\SharedBundle\Entity\IconRepository
    s.shared.icontemplate.repo.class:               Scribe\SharedBundle\Entity\IconTemplateRepository
    s.shared.iconfamily.repo.class:                 Scribe\SharedBundle\Entity\IconFamilyRepository

    s.twig.config.yml.class:                        Scribe\SharedBundle\Templating\Extension\ConfigExtension
    s.twig.zoom.class:                              Scribe\SharedBundle\Templating\Extension\ZoomExtension
    s.twig.menu.class:                              Scribe\SharedBundle\Templating\Extension\MenuExtension
    s.twig.search.class:                            Scribe\SharedBundle\Templating\Extension\SearchExtension
    s.twig.menu.main.class:                         Scribe\SharedBundle\Templating\Extension\MenuMainExtension
    s.twig.button.class:                            Scribe\SharedBundle\Templating\Extension\BsButtonExtension
    s.twig.highchart.class:                         Scribe\SharedBundle\Templating\Extension\HighchartExtension
    s.twig.jqtimeline.class:                        Scribe\SharedBundle\Templating\Extension\JqtimelineExtension
    s.twig.chronoline.class:                        Scribe\SharedBundle\Templating\Extension\ChronolineExtension
    s.twig.formscribeextras.class:                  Scribe\SharedBundle\Templating\Extension\FormScribeExtrasExtension
    s.twig.node.class:                              Scribe\SharedBundle\Templating\Extension\NodeExtension
    s.twig.getlastusername.class:                   Scribe\SharedBundle\Templating\Extension\GetLastUsernameExtension
    s.twig.bundleinformation.class:                 Scribe\SharedBundle\Templating\Extension\BundleInformationExtension

    s.listener.maintenance.class:                   Scribe\SharedBundle\Listener\MaintenanceListener
    s.listener.newsletter.class:                    Scribe\SharedBundle\Listener\NewsletterListener
    s.listener.searchreplace.class:                 Scribe\SharedBundle\Listener\SearchReplaceListener

    s.shared.cachedfilesystementrysize.repo.class:  Scribe\SharedBundle\Entity\CachedFilesystemEntrySizeRepository

##
## SERVICE DEFINITIONS
##
services:

    s.utils.controller:
        class: "%s.utils.controller.class%"
        arguments:
            - @service_container

    s.symfony.bundleinfo:
        class: "%s.symfony.bundleinfo.class%"
        arguments:
            - @request_stack

    s.tpl.helper.menu.handler:
        class: "%s.tpl.helper.menu.handler.class%"
        arguments:
            - @service_container
            - @s.shared.navmenuitem.repo
            - @s.shared.navmenusetting.repo
            - @s.symfony.bundleinfo
            - @security.context

    s.tpl.helper.menu.factory:
        class: "%s.tpl.helper.menu.factory.class%"
        arguments:
            - @service_container

    s.tpl.helper.menu:
        class: "%s.tpl.helper.menu.class%"
        factory_service: s.tpl.helper.menu.factory
        factory_method: getMenu
        arguments:
            - @service_container

    s.shared.navmenuitem.repo:
        class:           %s.shared.navmenuitem.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\NavMenuItem

    s.shared.navmenusetting.repo:
        class:           %s.shared.navmenusetting.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\NavMenuSetting

    s.shared.icon.repo:
        class:           %s.shared.icon.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\Icon

    s.shared.icontemplate.repo:
        class:           %s.shared.icontemplate.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\IconTemplate

    s.shared.iconfamily.repo:
        class:           %s.shared.iconfamily.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\IconFamily

    s.loader.redirection:
        class: "%s.loader.redirection.class%"
        arguments:
            - @service_container
        tags:
            - { name: routing.loader }

    s.listener.maintenance:
        class: "%s.listener.maintenance.class%"
        arguments:
            - @s.utils.controller
            - @s.symfony.bundleinfo
            - %scribe.maintenance.enabled%
            - %scribe.maintenance.bundles%
            - %scribe.maintenance.exempt%
            - %scribe.maintenance.override.request_argument%
            - %scribe.maintenance.override.request_value%
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    s.listener.newsletter:
        class: "%s.listener.newsletter.class%"
        arguments:
            - @service_container
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

    #s.listener.searchreplace:
    #    class: "%s.listener.searchreplace.class%"
    #    arguments:
    #        - @service_container
    #    tags:
    #        - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }

    s.config.yml:
        class: "%s.config.yml.class%"
        arguments: [ "@service_container" ]

    s.twig.config:
        class: "%s.twig.config.yml.class%"
        arguments: [ "@s.config.yml" ]
        tags:
            - { name: twig.extension }

    s.menu.main:
        class: "%s.menu.main.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: menu.main }

    s.search:
        class: "%s.search.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: search }

    s.twig.search:
        class: "%s.twig.search.class%"
        arguments: [ "@service_container", "@s.search" ]
        tags:
            - { name: twig.extension }

    s.twig.menu:
        class: "%s.twig.menu.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.menu.main:
        class: "%s.twig.menu.main.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.button:
        class: "%s.twig.button.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.highchart:
        class: "%s.twig.highchart.class%"
        tags:
            - { name: twig.extension }

    s.twig.jqtimeline:
        class: "%s.twig.jqtimeline.class%"
        tags:
            - { name: twig.extension }

    s.twig.chronoline:
        class: "%s.twig.chronoline.class%"
        tags:
            - { name: twig.extension }

    s.twig.formscribeextras:
        class: "%s.twig.formscribeextras.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    ss.twig.node:
        class: "%s.twig.node.class%"
        arguments: [ "@s.docs.node.repo" ]
        tags:
            - { name: twig.extension }

    s.twig.getlastusername:
        class: "%s.twig.getlastusername.class%"
        arguments: [ "@service_container" ]
        tags:
            - { name: twig.extension }

    s.twig.zoom:
        class: "%s.twig.zoom.class%"
        tags:
            - { name: twig.extension }

    s.twig.bundleinformation:
        class: "%s.twig.bundleinformation.class%"
        arguments:
            - @s.symfony.bundleinfo
        tags:
            - { name: twig.extension }

    s.shared.cachedfilesystementrysize.repo:
        class:           %s.shared.cachedfilesystementrysize.repo.class%
        factory_service: doctrine
        factory_method:  getRepository
        arguments:
            - Scribe\SharedBundle\Entity\CachedFilesystemEntrySize
