<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Scribe Newsletter for Editorial and Production Professionals</title>
    <link rel="stylesheet" type="text/css" href="http://world.ve1.mt.scribenet.com/assets/newsletter/scr.css" />
</head>
<body>
<div>
    <div class="chapter" id="consider">
        <table cellpadding="3" class="bgcolore4e0dbheight75">
            <col width="*"/>
            <col width="124px"/>
            <tr><td valign="middle">May 30, 2013 Volume 1 Number 3</td><td class="width124"><a href="http://scribenet.com/"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-logo.jpg" alt="" width="124" height="30"/></a></td></tr>
        </table>
        <p class="bk">CONSIDERING PUBLISHING CONVENTIONS</p>
        <p class="bk1">Scribe Newsletter for Editorial and Production Professionals</p>
        <div class="sidebar" id="toc">
            <p class="sbt">In this Issue:</p>
            <ul>
                <li class="toc" id="rtoc1"><a href="#text01" class="toc">David Rech provides an in-depth consideration of publishing conventions developed over millennia.</a></li>
            </ul>
        </div>
        <p class="ah" id="text01"><a href="#rtoc1" class="ahtoc">Considering Publishing Conventions</a></p>
        <p class="pf">Like many in the publishing industry, I arrived at my profession by somewhat of an accident. Sure, I loved books. But my interest was in classical history, with a deeper interest in the Roman Empire. Like others in that field, I studied Greek, Latin, Hebrew, and Egyptian (mostly Coptic). In my initial studies, I learned the value of good typography. Though I was fairly adept at reading critical editions, I struggled with the originals. Though hieroglyphs point in a particular direction, often have predictable endings, and have other characteristics, I find monumental inscriptions and papyri almost impossible to read. I was so thankful for the cartouche, which indicated a name to be read phonetically instead of needing to be parsed whenever it appeared. (The cartouche made the decryption of the Rosetta Stone possible.)</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0001.jpg" width="145" height="132" alt="" /></p>
        </div>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0002.jpg" width="481" height="550" alt="" /></p>
        </div>
        <p>Greek manuscripts seemed even more difficult. I knew what direction to read (right to left) but could barely decipher anything else. Manuscripts from my area of interest were written in a single case, with no punctuation, spacing, or even regular breaks. Lines merely broke when space ran out, usually in the middle of the word. For me, what made these texts difficult to read was the fact that I was unable to determine where one word ended and another began. Worse, it seemed impossible for me to decipher sense breaks like clauses, sentences, or paragraphs. Even if I could make out individual words, it remained difficult to determine where strings of words should be grouped.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0003.jpg" width="522" height="550" alt="" /></p>
        </div>
        <p>I was always thankful to have a transcription where the words were clearly delineated and sentences or paragraphs were indicated. In these cases, the conventions that have been developed to make written information comprehensible make sense. Returning to the cartouche (still my favorite design convention), a ring around the word tells me that this is a proper noun to be read phonetically and seen as separate from the surrounding text. One of the clues for deciphering Egyptian came about because Champollion could tell where names were mentioned on the Rosetta Stone.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0004.jpg" width="356" height="208" alt="" /></p>
        </div>
        <p>Another major practice that I appreciate is the space. The space provides us with clues about where words begin and end. And so it is with all conventions that have developed over the years.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0005.jpg" width="470" height="465" alt="" /></p>
        </div>
        <p>We have created punctuation to indicate thought groups&#x2014;like sentences, clauses, or separate concepts. The punctuation also helps to indicate whether something is declarative or interrogative. Eventually, we developed section heads. They forewarn us about upcoming topics and thought groups. The spacing and indentation that we use around heads indicate where one concept ends and another begins. They also tell us which paragraphs are to be associated with each head.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0006.jpg" width="600" height="423" alt="" /></p>
        </div>
        <p>Below are fabricated replications of various print methods using the first chapter of Genesis.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0101.jpg" width="360" height="180" alt="" /></p>
            <p class="figh">This is an example of uncial text. Monumental inscriptions frequently use this format as did Romans from Late Antiquity.</p>
        </div>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0102.jpg" width="360" height="154" alt="" /></p>
            <p class="figh">This is an example of miniscule text. Even though we are familiar with the text, notice how difficult it is to read.</p>
        </div>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0103.jpg" width="360" height="202" alt="" /></p>
            <p class="figh">Space has been added here to separate words. Even though we are familiar with this text, it is difficult to determine where each sentence ends.</p>
        </div>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0104.jpg" width="360" height="200" alt="" /></p>
            <p class="figh">Capitalization and punctuation give clear indication of sentence breaks. This text is easy to read and comprehend&#x2014;not to mention consistent with our expectations.</p>
        </div>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0105.jpg" width="360" height="196" alt="" /></p>
            <p class="figh">Verse markers and breaks are added. This convention is useful when other texts make reference to the target (in the case of the Bible, book, chapter, and verse styles are standardized), or when used in public forums.</p>
        </div>
        <p class="pcon">Here, we can see a clear progression of how text becomes more readable as each convention is used. The elements of good design and editing are employed to make the text more easily read and, in the case of the last example, shared and referenced within a community.</p>
        <p>The typographical and editorial conventions that have developed are more about expressing logical organization than purity of language or design. The main purpose of these conventions is to make the information that we are reading more easily comprehended and intuitively digested. An example from mediaeval Europe is the illuminated chapter opener. When paper was precious, moving from one thought unit to the next often came on the same page. The convention of marking the beginning of a chapter with an illuminated character became commonplace. This indicated when one thought topic ended and another began.</p>
        <div class="figure">
            <p class="fig"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter1305-fig0007.jpg" width="275" height="138" alt="" /></p>
        </div>
        <p>On paper, in this example, the use of ornaments aids in the comprehension of the materials. Preserving the convention in modern applications, however, may do the opposite. In a reflowable e-book, beginning a chapter with a large ornament actually interferes with reading as well as potentially limiting the ability to search for a word (if you use a graphic for a letter, then the word will not match a search). Thus this convention may not be necessary today, where we tend to begin chapters on recto pages following the chapter number and title. In this case, the special treatment afforded to the first paragraph of a chapter seems unnecessary. With or without an ornamental capital letter, I can clearly discern where the chapter begins&#x2014;and with that ornament, my e-book reading is choppy.</p>
        <p>The editorial and typesetting standards we apply are not arbitrary. They have developed over millennia to enhance our ability to follow and comprehend what is rendered on the medium through which we read. These rules, however, are not canonical, and they are certainly not fixed. Consider, for example, the use of the underline. In older books, this indicated a reference or emphasis and functioned in similar fashion to slanting letters that we use more often now. In electronic arena, the underline indicates a hyperlink. To use it to mark a book title in contemporary works would be distracting and could cause confusion.</p>
        <div class="pullquote">
            <p class="quot">The typographical and editorial conventions that have developed are more about expressing logical organization than purity of language or design.</p>
        </div>
        <p>In editing, proper (i.e., consistent to a known and predictable rule set) spelling, grammar, and punctuation lead to clarity of understanding. Consider Lynne Truss&#x2019;s famous example of <em>Eats, Shoots &#x26; Leaves.</em> Her intolerance is not because she wants everyone to blindly adhere to the rules. Her position is that we should clearly state what we mean.</p>
        <p>In typesetting, good design (i.e., known and predictable arrangement of information) improves reading comprehension and engages the reader in the subject. When content is arranged according to predictable (or intuitively understood) patterns, reading occurs effortlessly. Altering design or bucking conventions is often jarring. The works of E. E. Cummings are good examples of this. Occasionally, we wish to achieve this unconventionality, but this results in readers being taken out of the narrative. Most of the time, our intention is to fully engage the reader&#x2014;to draw him or her in. We want to design in ways that hold the reader&#x2019;s attention and make the book a better read.</p>
        <p>Given the changes in book technology, it is important that we start to consider the use of editorial and design elements in both print and electronic mediums. We should no longer hold to convention as if it is canon because many of those conventions are disruptive to the reading experience. We should consider each editorial and design choice to determine whether our style decisions are helpful or distracting. We are, after all, trying to enhance the experience of our customers.</p>
        <table cellpadding="3">
            <col width="*"/>
            <col width="114px"/>
            <tr><td align="right" valign="bottom"><strong>DAVID RECH</strong><br/>Scribe Inc.<br/>President</td><td class="width97height150"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter-drech.jpg" alt="" width="114" height="176"/></td></tr>
        </table>
        <br />
        <table cellpadding="3" class="bgcolore4e0db">
            <col width="100%" />
            <tr><td align="center">Reply to our <a href="mailto:newsletter@scribenet.com?subject=Newsletter">newsletter</a> or visit our <a href="http://wellformeddocument.com/">website</a>.<br/>Question, comments, ideas? We want to hear from you on our <a href="http://scribenet.com/blog">blog</a>.<br/><br/>Scribe Inc.<br/>842 South 2nd Street<br/>Philadelphia, PA 19147<br/>215-336-5094</td></tr>
        </table>
        <br/>
        <table cellpadding="3">
            <col width="45%" />
            <col width="10%" />
            <col width="45%" />
            <tr><td align="center" colspan="3"><em><strong>STAY CONNECTED</strong></em></td></tr>
            <tr><td align="right"><a href="https://www.facebook.com/ScribeInc"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter-fblogo.jpg" alt="Facebook" width="22" height="22"/></a></td>
                <td align="center"><a href="https://twitter.com/ScribeInc"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter-twitlogo.jpg" alt="Twitter" width="22" height="22"/></a></td>
                <td align="left"><a href="http://www.linkedin.com/company/scribe-inc-"><img src="http://world.ve1.mt.scribenet.com/assets/newsletter/scr-newsletter-linklogo.jpg" alt="LinkedIn" width="22" height="22"/></a></td></tr>
        </table>
    </div>
</div>
</body>
</html>
