<html>
<head>
</head>
<body>
    <h1>Scribe: Newsletter Signup</h1>
    <p>
        <strong>New signup for the Scribe Newsletter.</strong> Information can be found below.
    </p>
    <ul>
        <li><strong>E-Mail</strong>: {{ u.getEmail }}</li>
    </ul>
    <p>If this message was received in error, please <a href="{{ host_link }}/contact">contact us</a> immediately and inform us of such.</p>
    <p>
        <strong>&#8212;<br />Scribe World</strong>
    </p>
    <p><small>This message was sent by Scribe via <a href="{{ host_link }}">{{ host_link }}</a>.</small></p>
</body>
</html>
