<div class="alert-group alert-group-slide-fade">
    <div class="alert-group-inner">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }} alert-slide-fade in">
                    <span class="alert-close">{{ icon('times-circle', 'fa') }}</span>
                    <strong>{{ label | title }}</strong> {{ flash | replace({ "Bad credentials": "An invalid username or password was provided. Please try again." }) }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
