<div class="alert-group">
	<div class="container">
		<div class="alert-group-inner">
		    {% for label, flashes in app.session.flashbag.all %}
		        {% for flash in flashes %}
		            <div class="alert alert-{{ label }} fade in">
		                <strong>{{ label | title }}</strong>: {{ flash | replace({ "Bad credentials": "An invalid username or password was provided. Please try again." }) }}
		                <span class="alert-close"><i class="fa fa-times-circle"> </i></span>
		            </div>
		        {% endfor %}
		    {% endfor %}
		</div>
	</div>
</div>
