---
Scribe\MantleBundle\Doctrine\Entity\Locale\City:

    type            : entity
    options         :
        row_format  : DYNAMIC
        charset     : utf8mb4
        collate     : utf8mb4_unicode_ci
    table           : Mantle_Locale_City
    repositoryClass : Scribe\MantleBundle\Doctrine\Repository\Locale\CityRepository

    id:

        id:
            type      : bigint
            id        : true
            options   :
                unsigned : true
            generator :
                strategy : AUTO

    fields:

        name:
            type   : string
            length : 2048

        latitude:
            type     : float
            unsigned : false
            nullable : true

        longitude:
            type     : float
            unsigned : false
            nullable : true

    manyToOne:

        country:
            targetEntity : Country
            fetch        : EAGER
            joinColumn   :
                name            : country
                referenceColumn : id

    manyToMany:

        languageCollection:
            targetEntity : LanguageName
            fetch        : EAGER
            joinTable    :
                name        : Locale_City_Mapto_Language
                joinColumns :
                    city:
                        referencedColumnName: id
                inverseJoinColumns:
                    language:
                        referencedColumnName: id

...
