---
Scribe\MantleBundle\Doctrine\Entity\Node\NodeRevision :

    type            : entity
    options         :
        row_format  : DYNAMIC
        charset     : utf8mb4
        collate     : utf8mb4_unicode_ci
    table           : Mantle_Node_Revision
    repositoryClass : Scribe\MantleBundle\Doctrine\Repository\Node\NodeRevisionRepository

    id :

        id:
            type      : bigint
            id        : true
            options   :
                unsigned : true
            generator :
                strategy : AUTO

    fields :

        content:
            type : text

    oneToOne :

        diff :
            targetEntity : NodeRevisionDiff
            mappedBy     :     nodeRevision

        owningNode :
            targetEntity : Node
            mappedBy     : latestRevision

    manyToOne :

        node :
            targetEntity : Node
            inversedBy   : revisions
            joinColumn   :
                name            : nodeId
                referenceColumn : id

        renderEngine :
            targetEntity : NodeRenderEngine
            inversedBy   : revisions
            joinColumn   :
                name             : nodeRenderEngineId
                referencedColumn : id

    manyToMany :

        embeddedNodes :
            targetEntity : Node
            inversedBy   : containerNodeRevisions
            joinTable    :
                name               : Mantle_NodeRevision_MapTo_EmbeddedNode
                joinColumns        :
                    nodeRevisionId:
                        referencedColumnId: id
                inverseJoinColumns :
                    nodeId:
                        referencedColumnId: id

        embeddedAssets :
            targetEntity : Scribe\MantleBundle\Doctrine\Entity\Asset\Asset
            inversedBy   : containerNodeRevisions
            joinTable    :
                name               : Mantle_NodeRevision_MapTo_Asset
                joinColumns        :
                    nodeRevisionId:
                        referencedColumnId: id
                inverseJoinColumns :
                    assetId:
                        referencedColumnId: id

...
