---
Scribe\MantleBundle\Doctrine\Entity\Route\Route:

    type            : entity
    options         :
        row_format  : DYNAMIC
        charset     : utf8mb4
        collate     : utf8mb4_unicode_ci
    table           : Mantle_Route
    repositoryClass : Scribe\MantleBundle\Doctrine\Repository\Route\RouteRepository

    id :

        id:
            type      : smallint
            id        : true
            options   :
                unsigned : true
            generator :
                strategy : AUTO

    indexes :

        routeSlugIndex :
            columns : [slug]

    fields :

        slug :
            type   : string
            length : 256

        name :
            type   : string
            length : 256

        parameters :
            type     : json_array
            nullable : true

        referenceType :
            type     : string
            length   : 40
            nullable : true

        description :
            type     : string
            length   : 400
            nullable : true

...
