---
Scribe\MantleBundle\Doctrine\Entity\Route\RouteRedirect:

    type                 : entity
    options              :
        row_format       : DYNAMIC
        charset          : utf8mb4
        collate          : utf8mb4_unicode_ci
    table                : Mantle_Route_Redirect
    changeTrackingPolicy : DEFERRED_EXPLICIT
    readOnly             : true
    repositoryClass      : Scribe\MantleBundle\Doctrine\Repository\Route\RouteRedirectRepository

    id :

        slug :
            type      : string
            length    : 128
            generator :
                strategy : NONE

    fields:

        searchPath :
            type   : string
            length : 510

        redirectPath :
            type   : string
            length : 510

        regex :
            type     : boolean
            nullable : true

        context :
            type     : string
            length   : 32
            nullable : true

        routeDefaults :
            type     : json_array
            nullable : true

        routeMethods :
            type     : json_array
            nullable : true

        routeSchemes :
            type     : json_array
            nullable : true

        routeRequirements :
            type     : json_array
            nullable : true

        routeHost :
            type     : string
            nullable : true

...
